# Python
__pycache__/
*.py[cod]
venv/
env/

# Models — REMOVED so they get pushed
# models/saved_models/*.h5
# models/saved_models/*.keras
# models/saved_models/*.pkl

# History (runtime generated)
models/prediction_history.json

# IDE
.vscode/
.idea/